body {
	font-family: "Open Sans", sans-serif;
}

.layout-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.layout-container > .sidebar {
	position: fixed;
	margin-top: 51px;
	background-color: #2D353C;
	color: #e7e7e7;
	width: 220px;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	border-right: 1px solid rgba(255, 255, 255, 0.15);
	top: 0px;
	bottom: 0px;
}

.layout-container > .content {
	margin-top: 51px;
	margin-left: 220px;
}


/** Custom bootstrap CSS **/
.navbar-default {
	background-color: #2D353C;
	border-color: #000;
	color: #e7e7e7;
}

.navbar-default .navbar-brand > a {
	color: #c3c3c3;
}

.navbar-default .navbar-brand > a:hover,
.navbar-default .navbar-brand > a:focus {
	color: #eee;
	background-color: transparent;
	text-decoration: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #a8acb1;
	background: #232a2f;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>li.active>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #a8acb1;
}

.navbar-brand {
	width: 220px;
	text-align: center;
	float: left;
}

.navbar-panel {
	margin-left: 220px;
}
