/** Navigation **/
.sidebar .nav {
	font-size: 12px;
}

.sidebar .nav li > span.label.pull-right {
	position: relative;
	z-index: 1;
	margin: 9px 15px;
	padding: 5px 10px;
}

.sidebar .nav li > span.label-default.pull-right {
	background: #1b1f24;
}

.sidebar .nav li.active > span.label-default.pull-right {
	background: rgba(35, 42, 47, 0.6);
}

.sidebar .nav > li > a {
	color: #a8acb1;
	padding: 10px 15px 10px 16px;
	border-bottom: 1px solid #383f46;
}

.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
	background: #232a2f;
	color: #a8acb1;
}

.sidebar .nav > li.active > a {
	background: -webkit-linear-gradient(top, #497296 0%, #30618F 100%);
	background:    -moz-linear-gradient(top, #497296 0%, #30618F 100%);
	background:      -o-linear-gradient(top, #497296 0%, #30618F 100%);
	background:     -ms-linear-gradient(top, #497296 0%, #30618F 100%);
	background:         linear-gradient(to bottom, #497296 0%, #30618F 100%);
	color: #fff;
}

.sidebar .nav > li ul {
	padding-left: 0;
	border-bottom: 1px solid #383f46;
	background: #232a2f;
	display: none;
}

.sidebar .nav > li.active ul {
	display: block;
	list-style: none;
}

.sidebar .nav > li.active ul > li {
	/**/
}

.sidebar .nav > li.active ul > li > a {
	display: block;
	padding: 5px 15px 5px 20px;
	font-weight: 300;
	color: #889097;
	text-decoration: none;
	position: relative;
}

.sidebar .nav > li.active ul > li > a:before {
	content: "\f0da";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	margin-right: 18px;
}

.sidebar .nav > li.active ul > li > ul {
	padding-left: 25px;
}

.sidebar .nav > li.active ul > li.active > a:before {
	color: #348fe2;
}

.sidebar .nav > li.active ul > li.active > a,
.sidebar .nav > li.active ul > li > a:hover,
.sidebar .nav > li.active ul > li > a:focus {
	color: #fff;
}

.sidebar .nav > .nav-header {
	padding: 0 15px;
	margin-bottom: 10px;
}

.sidebar .nav > .nav-header i {
	margin-right: inherit;
}

.sidebar .nav > .nav-header > span {
	position: relative;
	display: block;
	padding: 0px;
	border-bottom: 1px solid #8D8D8D;
	color: #8D8D8D;
	text-transform: uppercase;
	font-size: 10px;
}

.sidebar .nav > li .caret {
	margin-top: 7px;
}

.sidebar .nav > li li .caret {
	margin: 11px 15px;
	color: #889096;
}

.sidebar .nav > li li.active .caret {
	color: #fff;
}

.sidebar .nav > li i {
	margin-right: 10px;
}

.sidebar .nav.nav-stacked > li+li {
	margin-top: 0;
}